<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 인터페이스 이름 작성 -->
<mapper namespace="com.kh.myapp.bbs.dao.BbsDAO">
	<insert id="insert">
		insert into bbs (bnum, btitle, bid, bname, bhit, bcontent, bgroup, bstep, bindent) 
		values (bbsnum_seq.nextval, #{bTitle}, #{bID}, #{bName}, #{bHit}, #{bContent}, bbsnum_seq.currval, 0, 0)
	</insert>
	
	<select id="list" resultType="BbsDTO">
		select bnum, btitle, bname, bhit, bcontent, bcdate, bgroup, bstep, bindent 
		from bbs
		order by bgroup desc, bstep asc 
	</select>
	
	<select id="view" resultType="BbsDTO">
		select bnum, btitle, bid, bname, bhit, bcontent, bcdate, budate, bgroup, bstep, bindent from bbs 
		where bnum = #{bNum}
	</select>
	
	<update id="update">
		update bbs set btitle=#{bTitle}, bcontent = #{bContent}, budate = sysdate where bnum = #{bNum}
	</update>
	
	<delete id="delete">
		delete from bbs where bnum = #{bNum}
	</delete>
	
	<update id="updateHit">
		update bbs set bHit = bHit + 1 where bNum = #{bNum}
	</update>
	
	<select id="replyView" resultType="BbsDTO">
		select bnum, btitle, bname, bhit, bcontent, bcdate, budate, bgroup, bstep, bindent from bbs 
		where bnum = #{bNum}
	</select>
	
	<insert id="reply">
	  	insert into bbs(bnum, btitle, bid, bname, bcontent, bgroup, bstep, bindent) 
	  	values (bbsnum_seq.nextval, #{bTitle}, #{bID}, #{bName}, #{bContent}, #{bGroup}, #{bStep}, #{bIndent})
	</insert>
	
	<update id="updateStep">
		update bbs set bstep = bstep+1 where bgroup = #{bGroup} and bstep > #{bStep}
	</update>
	
	<select id="listPageCri" resultType="BbsDTO">
		select t2.* 
  		from (select row_number() over (order by bgroup desc, bstep asc) as num, t1.* 
  	    from bbs t1) t2
  	    where num between #{startRecord} and #{endRecord}
	</select>
	
	<select id="totalRec" resultType="int">
		select count(*) from bbs
	</select>
	
	<select id="listFindCri" resultType="BbsDTO">
		select t2.* 
		from (select row_number() over (order by bgroup desc, bstep asc) as num, t1.* 
	    from bbs t1 where bnum > 0 

		<if test='searchType eq "TC"'>
			and (btitle like '%' || #{keyword} || '%' or bcontent like '%' || #{keyword} || '%')
		</if>
		<if test='searchType eq "T"'>
			and bTitle like '%' || #{keyword} || '%'
		</if>
		<if test='searchType eq "C"'>
			and bContent like '%' || #{keyword} || '%'
		</if>
		<if test='searchType eq "W"'>
			and bname like '%' || #{keyword} || '%'
		</if>
		<!-- f -->
	
		
		<!-- g -->
		) t2 where num between #{startRecord} and #{endRecord} 
		
	</select>
	
	<select id="searchTotalRec" resultType="int">
		select count(*) totalRec
		from (select row_number() over (order by bgroup desc, bstep asc) as num, t1.* 
	    from bbs t1 where bnum > 0 

		<if test='searchType eq "TC"'>
			and (btitle like '%' || #{keyword} || '%' or bcontent like '%' || #{keyword} || '%')
		</if>
		<if test='searchType eq "T"'>
			and bTitle like '%' || #{keyword} || '%'
		</if>
		<if test='searchType eq "C"'>
			and bContent like '%' || #{keyword} || '%'
		</if>
		<if test='searchType eq "W"'>
			and bname like '%' || #{keyword} || '%'
		</if>

		<!-- f -->
	
		
		<!-- g -->
		) t2 
	</select>
</mapper>
